@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Ultrabold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Ultralight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Book.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Thinitalic.woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Bolditalic.woff2");
  font-weight: 700;
  font-style: italic;
}
body {
  background: #121212;
  color: #f9f6ee;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montreal", sans-serif;
}
* :is(h1, h2, h3, h4, h5, h6) {
  font-family: "Machina", sans-serif;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  body {
    background: #f9f6ee;
    color: #121212;
  }
  header {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}
/* CSS to hide content initially */
body > *:not(main), main > *:not(h1) {
  opacity: 0;
}

main {
  position: relative;
  align-items: center;
  display: flex;
}

main > h1 {
  font-size: 5rem;
  overflow: hidden;
}
main > h1 span {
  font-family: "Machina", sans-serif;
  display: inline-block;
  transform: translateY(100%);
}

body {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10rem);
}

body > main {
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1rem;
}

a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  position: relative;
  height: 1em;
}
a .text {
  transition: transform 0.2s ease, opacity 0.2s ease;
}
a .original-text {
  opacity: 0.5;
}
a .replacement-text {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

nav {
  display: flex;
  gap: 1rem;
}

#weather-time {
  opacity: 0.5;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#sun-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFEE58;
  position: relative;
  display: inline-block;
}
#sun-dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid var(--sun-dot-border-color, #FFEE58);
  animation: ripple-effect 1.5s infinite;
  box-sizing: border-box;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
.chin {
  position: fixed;
  bottom: 5rem;
  width: 100%;
  font-size: 1rem;
  display: flex;
}/*# sourceMappingURL=style.css.map */