@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Ultrabold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Ultralight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Book.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Thinitalic.woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Bolditalic.woff2");
  font-weight: 700;
  font-style: italic;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montreal;
}

h1 {
  font-size: 9rem;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
}
h1 .line {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0 0);
          clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0 0);
}

#hook {
  bottom: 0;
}

#projects-head {
  top: 5%;
  right: 10%;
  max-width: 45%;
  text-align: right;
}

.word {
  transform: translateY(100%);
  transition: transform 0.5s;
}

.fadeIn {
  opacity: 0;
}

#body-text .line {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0 0);
          clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0 0);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.75s;
  transition: transform 0.75s;
}
#body-text .line .word {
  transform: translateY(0);
}

nav {
  position: absolute;
  right: 10%;
  top: 25%;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

#copy {
  font-size: 16px;
}

#about {
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  max-width: 30%;
}

section {
  margin: 5% 5% 10% 5%;
  position: relative;
  height: 80vh;
}

.case-showcase {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 5%;
}
.case-showcase h1 {
  position: relative;
  max-width: 75%;
}
.case-showcase .subtitle, .case-showcase .skills, .case-showcase .abstract h4 {
  color: #3E3E3E;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.case-showcase .skills {
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 60%;
}
.case-showcase .abstract {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0 0);
          clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0 0);
  max-width: 25%;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}
.case-showcase .abstract p {
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 90px;
  color: #3E3E3E;
  transition: max-height 2s, color 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}
.case-showcase .abstract p .word {
  transform: translateY(0);
}
.case-showcase .abstract:hover p {
  max-height: 3000px;
  height: -moz-max-content;
  height: max-content;
  color: black;
  transition: max-height 4s, color 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
}

.projects {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.projects .row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}/*# sourceMappingURL=style.css.map */