@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Ultrabold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Ultralight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Machina;
  src: url("/fonts/Machina-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Book.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Thinitalic.woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Montreal;
  src: url("/fonts/Montreal-Bolditalic.woff2");
  font-weight: 700;
  font-style: italic;
}
* {
  font-family: Montreal;
  background-color: #f9f6ee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #6F6F6F;
}

h4 {
  font-weight: 300;
  font-size: 24px;
}

.line {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

article {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
article .container .wrapper {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
}
article .dot {
  height: 15px;
  width: 15px;
  border-radius: 100px;
  background-color: #000;
}

.identity {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  flex-grow: 1;
  padding: 100px;
}
main aside {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
main aside .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main hgroup {
  height: 80vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
}
main hgroup header {
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 0.8;
}
main hgroup header .word {
  transform: translateY(100%);
  transition: transform 0.6s;
}
main hgroup h3 {
  max-width: 900px;
  line-height: 1.2;
}
main hgroup h3 .line {
  transform: translateY(100%);
  transition: transform 0.8s;
}
main hr {
  height: 1px;
  border-radius: 10px;
  color: #6F6F6F;
  border: 1px solid #6F6F6F;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}
.projects .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projects .row .cell {
  width: 45%;
}
.projects .row .cell img {
  width: 100%;
  height: 100%;
  min-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: #6F6F6F;
}
.projects .row .cell .info {
  width: inherint;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.projects .row .cell .info h2 {
  max-width: 80%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  text-transform: uppercase;
  padding: 100px 0;
  text-align: center;
  left: 0;
  color: #f9f6ee;
  font-size: 4rem;
  font-family: machina;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */