@import fonts
@import colors
*
    margin: 0
    padding: 0
    box-sizing: border-box
    background: #F9F6EE
a
    text-decoration: none
    color: #000
    &:hover
        text-decoration: underline
body
    font-size: 1rem
    font-family: Montreal, san-serif
    margin: 5rem
main
    margin-top: 20vh
    max-width: 60%
    .intro
        margin-bottom: 5vh
    p
        margin: 1rem 0
    .projects
        margin: 5rem 0 0 0
        h1
            font-size: 1rem
.name-mark h1
    font-size: 2.25rem
h1
    font-family: Machina, sans-serif
    font-size: 4rem
header, .art
    display: flex
    justify-content: space-between
    align-items: center
.art
    margin: 1rem 0
    .date
        opacity: .5
        transition: .5s ease-in-out
    &:hover
        .date
            opacity: 1
            transition: .5s ease-in-out
